.App {
  align-items: center;
  justify-content: center;
  display: flex;
  flex: 1;
  height: 100vh;
  background-color: whitesmoke;
}
.box {
  background-color: white;
  height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
